@model IEnumerable<ITWEBExercise5.Models.ComponentType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datasheet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WikiLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminComment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datasheet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WikiLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentTypeId">Delete</a> |
                <a asp-action="TypeList" asp-controller="ComponentTypeForm" asp-route-typeId="@item.ComponentTypeId">Show Component list</a>
            </td>
        </tr>
}
    </tbody>
</table>
